Repository rgdSolutions/watch-next-tonight: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: adjust tests to be correct
  app/api/tmdb/[...path]/__tests__/route.test.ts
  components/__tests__/navigation-header.test.tsx
  content/blog/001-decision-fatigue-streaming-overwhelm.mdx
  content/blog/002-genre-blending-unlock-unexpected.mdx
  content/blog/003-streaming-search-why-endless.mdx
  content/blog/004-personalized-watchlists-crafting-your.mdx
  content/blog/005-mood-driven-viewing-psychological.mdx
  content/blog/006-watch-next-tonight-instantly.mdx
  lib/__tests__/tmdb-client.test.ts
Due: eslint --fix, prettier --write

chore: add tests for parsing frontmatter
  content/blog/001-decision-fatigue-streaming-overwhelm.mdx
  content/blog/002-genre-blending-unlock-unexpected.mdx
  content/blog/003-streaming-search-why-endless.mdx
  content/blog/004-personalized-watchlists-crafting-your.mdx
  content/blog/005-mood-driven-viewing-psychological.mdx
  content/blog/006-watch-next-tonight-instantly.mdx
  lib/__tests__/blog.test.ts
  lib/__tests__/parseFrontmatter.test.ts
  lib/blog.ts
Due: eslint --fix, prettier --write

chore: clean up tailwind for blogs
  app/blog/page.tsx
Due: eslint --fix, prettier --write

chore: add blog system tests
  lib/__tests__/blog.test.ts
  lib/__tests__/parseFrontmatter.test.ts
Due: eslint --fix, prettier --write

fix: test mocks
  lib/__tests__/blog.test.ts
  lib/__tests__/parseFrontmatter.test.ts
  lib/blog.ts
Due: eslint --fix, prettier --write

feat: prepare for mass blog generation
  CLAUDE.md
  content/blog/007-binge-watching-smarter-essential.mdx
  package-lock.json
  public/images/blog/002-genre-blending-unlock-unexpected.png
  public/images/blog/003-streaming-search-why-endless.png
  public/images/blog/004-personalized-watchlists-crafting-your.png
  public/images/blog/007-binge-watching-smarter-essential.png
  public/images/blog/008-entertainment-evolution-how-personalized.png
  public/images/blog/009-trending-now-how-global.png
  public/images/blog/010-effortless-discovery-one-viewers.png
  public/images/blog/011-streaming-subscriptions-maximize-your.png
  public/images/blog/012-watch-next-tonight-your.png
  public/images/blog/013-group-viewing-harmony-finding.png
  public/images/blog/014-personalized-recommendations-the-magic.png
  public/images/blog/015-cross-platform-streaming-watch.png
  public/images/blog/016-content-overload-how-to.png
  public/images/blog/017-perfect-match-algorithm-how.png
  public/images/blog/018-effortless-discovery-reclaim-your.png
  public/images/blog/019-trending-now-discover-global.png
  public/images/blog/020-watch-next-tonight-real.png
Due: prettier --write

feat: write 3 more blogs
  content/blog/007-binge-watching-smarter-essential.mdx
  content/blog/008-entertainment-evolution-how-personalized.mdx
  content/blog/009-trending-now-how-global.mdx
Due: none

feat: write 4 more blogs
  content/blog/010-effortless-discovery-one-viewers.mdx
  content/blog/011-streaming-subscriptions-maximize-your.mdx
  content/blog/012-watch-next-tonight-your.mdx
  content/blog/013-group-viewing-harmony-finding.mdx
Due: none

feat: write 7 more articles to bring the total to 20
  content/blog/014-personalized-recommendations-the-magic.mdx
  content/blog/015-cross-platform-streaming-watch.mdx
  content/blog/016-content-overload-how-to.mdx
  content/blog/017-perfect-match-algorithm-how.mdx
  content/blog/018-effortless-discovery-reclaim-your.mdx
  content/blog/019-trending-now-discover-global.mdx
  content/blog/020-watch-next-tonight-real.mdx
Due: none

chore: update Blog System in CLAUDE.md
  CLAUDE.md
Due: prettier --write

chore: add canonical urls to blogs
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
Due: eslint --fix, prettier --write

chore: make small improvements
  CLAUDE.md
  public/images/blog/020-watch-next-tonight-real.png
Due: prettier --write

feat: improve performance for /blog
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  lib/blog.ts
Due: eslint --fix, prettier --write

feat: improve performance for static routes
  app/about/page.tsx
  app/blog/[slug]/page.tsx
  app/contact/page.tsx
  app/faq/page.tsx
  app/page.tsx
  app/privacy/page.tsx
  app/terms/page.tsx
Due: eslint --fix, prettier --write

feat: improve performance for static routes
  app/blog/page.tsx
Due: eslint --fix, prettier --write

chore: clean up cache logic
  lib/blog.ts
Due: eslint --fix, prettier --write

Update lib/blog.ts
  lib/blog.ts
Due: eslint --fix, prettier --write

chore: lint
  lib/blog.ts
Due: eslint --fix, prettier --write

chore: individual blogs dont need to be cached
  app/blog/[slug]/page.tsx
Due: eslint --fix, prettier --write

chore: revert changes to lib/blog.ts
  lib/blog.ts
Due: eslint --fix, prettier --write

chore: tweak revalidate for blogs list
  app/blog/page.tsx
Due: eslint --fix, prettier --write

chore: increase length of 20 blogs
  CLAUDE.md
  content/blog/001-decision-fatigue-streaming-overwhelm.mdx
  content/blog/002-genre-blending-unlock-unexpected.mdx
  content/blog/003-streaming-search-why-endless.mdx
  content/blog/004-personalized-watchlists-crafting-your.mdx
  content/blog/005-mood-driven-viewing-psychological.mdx
  content/blog/006-watch-next-tonight-instantly.mdx
  content/blog/007-binge-watching-smarter-essential.mdx
  content/blog/008-entertainment-evolution-how-personalized.mdx
  content/blog/009-trending-now-how-global.mdx
  content/blog/010-effortless-discovery-one-viewers.mdx
  content/blog/011-streaming-subscriptions-maximize-your.mdx
  content/blog/012-watch-next-tonight-your.mdx
  content/blog/013-group-viewing-harmony-finding.mdx
  content/blog/014-personalized-recommendations-the-magic.mdx
  content/blog/015-cross-platform-streaming-watch.mdx
  content/blog/016-content-overload-how-to.mdx
  content/blog/017-perfect-match-algorithm-how.mdx
  content/blog/018-effortless-discovery-reclaim-your.mdx
  content/blog/019-trending-now-discover-global.mdx
  content/blog/020-watch-next-tonight-real.mdx
  public/images/blog/001-decision-fatigue-conquer-streaming.png
Due: prettier --write

feat: add author section to 20 blogs
  app/about/page.tsx
  components/ricardo.tsx
  content/blog/001-decision-fatigue-streaming-overwhelm.mdx
  content/blog/002-genre-blending-unlock-unexpected.mdx
  content/blog/003-streaming-search-why-endless.mdx
  content/blog/004-personalized-watchlists-crafting-your.mdx
  content/blog/005-mood-driven-viewing-psychological.mdx
  content/blog/006-watch-next-tonight-instantly.mdx
  content/blog/007-binge-watching-smarter-essential.mdx
  content/blog/008-entertainment-evolution-how-personalized.mdx
  content/blog/009-trending-now-how-global.mdx
  content/blog/010-effortless-discovery-one-viewers.mdx
  content/blog/011-streaming-subscriptions-maximize-your.mdx
  content/blog/012-watch-next-tonight-your.mdx
  content/blog/013-group-viewing-harmony-finding.mdx
  content/blog/014-personalized-recommendations-the-magic.mdx
  content/blog/015-cross-platform-streaming-watch.mdx
  content/blog/016-content-overload-how-to.mdx
  content/blog/017-perfect-match-algorithm-how.mdx
  content/blog/018-effortless-discovery-reclaim-your.mdx
  content/blog/019-trending-now-discover-global.mdx
  content/blog/020-watch-next-tonight-real.mdx
Due: eslint --fix, prettier --write

chore: expand blog system rules
  CLAUDE.md
Due: prettier --write

chore: clean up
  CLAUDE.md
  content/blog/012-watch-next-tonight-your.mdx
  content/blog/013-group-viewing-harmony-finding.mdx
  content/blog/017-perfect-match-algorithm-how.mdx
  public/images/blog/017-perfect-match-algorithms-how.png
Due: prettier --write

chore: lint and format
  content/blog/013-group-viewing-harmony-finding.mdx
Due: none

chore: add 20 blog images
  public/images/blog/021-discover-hidden-gems-unearthing.png
  public/images/blog/022-perfect-group-viewing-elevating.png
  public/images/blog/023-binge-worthy-shows-unpacking.png
  public/images/blog/024-mood-matched-content-aligning.png
  public/images/blog/025-streaming-overload-navigating-the.png
  public/images/blog/026-quick-entertainment-choices-finding.png
  public/images/blog/027-personalized-recommendations-decoding-your.png
  public/images/blog/028-genre-exploration-unlocking-new.png
  public/images/blog/029-trending-insights-staying-current.png
  public/images/blog/030-effortless-discovery-the-magic.png
  public/images/blog/031-next-big-show-foreseeing.png
  public/images/blog/032-available-content-maximizing-your.png
  public/images/blog/033-searching-less-defeating-decision.png
  public/images/blog/034-curated-watchlists-elevating-your.png
  public/images/blog/035-watch-next-tonight-solution.png
  public/images/blog/036-personalized-recommendations-watch-next.png
  public/images/blog/037-cross-platform-discovery-watch.png
  public/images/blog/038-streaming-fatigue-solution-watch.png
  public/images/blog/039-trending-now-watch-next.png
  public/images/blog/040-mood-driven-choices-watch.png
Due: none

feat: add articles 21-40
  CLAUDE.md
  content/blog/021-discover-hidden-gems-unearthing.mdx
  content/blog/022-perfect-group-viewing-elevating.mdx
  content/blog/023-binge-worthy-shows-unpacking-the.mdx
  content/blog/024-mood-matched-content-aligning-your.mdx
  content/blog/025-streaming-overload-navigating-the.mdx
  content/blog/026-quick-entertainment-choices-finding.mdx
  content/blog/027-personalized-recommendations-decoding-your.mdx
  content/blog/028-genre-exploration-unlocking-new.mdx
  content/blog/029-trending-insights-staying-current.mdx
  content/blog/030-effortless-discovery-the-magic.mdx
  content/blog/031-next-big-show-foreseeing.mdx
  content/blog/032-available-content-maximizing-your.mdx
  content/blog/033-searching-less-defeating-decision.mdx
  content/blog/034-curated-watchlists-elevating-your.mdx
  content/blog/035-watch-next-tonight-solution.mdx
  content/blog/036-personalized-recommendations-watch-next.mdx
  content/blog/037-cross-platform-discovery-watch-next.mdx
  content/blog/038-streaming-fatigue-solution-watch.mdx
  content/blog/039-trending-now-watch-next.mdx
  content/blog/040-mood-driven-choices-watch-next.mdx
Due: prettier --write

fix: run code formatter
  content/blog/025-streaming-overload-navigating-the.mdx
  content/blog/027-personalized-recommendations-decoding-your.mdx
  content/blog/028-genre-exploration-unlocking-new.mdx
Due: none

fix: links
  CLAUDE.md
  content/blog/021-discover-hidden-gems-unearthing.mdx
  content/blog/022-perfect-group-viewing-elevating.mdx
  content/blog/023-binge-worthy-shows-unpacking-the.mdx
  content/blog/024-mood-matched-content-aligning-your.mdx
  content/blog/025-streaming-overload-navigating-the.mdx
  content/blog/026-quick-entertainment-choices-finding.mdx
  content/blog/027-personalized-recommendations-decoding-your.mdx
  content/blog/029-trending-insights-staying-current.mdx
  content/blog/030-effortless-discovery-the-magic.mdx
  content/blog/032-available-content-maximizing-your.mdx
  content/blog/033-searching-less-defeating-decision.mdx
  content/blog/034-curated-watchlists-elevating-your.mdx
  lib/blog.ts
Due: eslint --fix, prettier --write

chore: clean up claude.md
  CLAUDE.md
Due: prettier --write

chore: remove trailing slashes from urls
  app/__tests__/about-page.test.tsx
  app/__tests__/contact-page.test.tsx
  app/__tests__/faq-page.test.tsx
  app/about/page.tsx
  app/api/tmdb/[...path]/route.ts
  app/contact/page.tsx
  app/faq/page.tsx
  app/layout.tsx
  app/not-found.tsx
  app/page.tsx
  app/privacy/page.tsx
  app/search/layout.tsx
  app/terms/page.tsx
  app/trending/layout.tsx
  components/__tests__/breadcrumb.test.tsx
  components/__tests__/navigation-header.test.tsx
  components/navigation-header.tsx
  components/ricardo.tsx
  next.config.mjs
Due: eslint --fix, prettier --write

chore: remove trailing slashes from urls
  components/breadcrumb.tsx
Due: eslint --fix, prettier --write

chore: clean up imports
  app/__tests__/faq-page.test.tsx
  components/__tests__/navigation-header.test.tsx
Due: eslint --fix, prettier --write

Apply suggestion from @coderabbitai[bot]
  app/about/page.tsx
Due: eslint --fix, prettier --write

Apply suggestion from @coderabbitai[bot]
  app/api/tmdb/[...path]/route.ts
Due: eslint --fix, prettier --write

fix: about page metadata
  app/about/page.tsx
Due: eslint --fix, prettier --write

chore: add tests for mdx-components
  __tests__/mdx-components.test.tsx
Due: eslint --fix, prettier --write

chore: increase test coverage for streaming-providers
  __tests__/streaming-providers.test.ts
Due: eslint --fix, prettier --write

chore: increase coverage for test-utils
  __tests__/test-utils.test.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
