Repository rgdSolutions/watch-next-tonight: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md}": ["prettier --write"],
  "**/*.ts?(x)": () => "npm run type-check"
}

chore: increase test coverage for utils.ts
  lib/__tests__/utils.test.ts
Due: eslint --fix, prettier --write

refactor(robots.ts): simplify list
  app/robots.ts
Due: eslint --fix, prettier --write

fix(search): refactor the location permissions flow to enable search page seo
  .playwright-mcp/homepage-after.png
  .playwright-mcp/homepage-before.png
  __tests__/integration/tmdb-flow-simple.test.tsx
  app/__tests__/landing-page.test.tsx
  app/page.tsx
  app/search/__tests__/page.test.tsx
  app/search/page.tsx
Due: eslint --fix, prettier --write

feat: implement SearchButton component and refactor LandingPage for improved user experience
  .playwright-mcp/homepage-hover.png
  app/page.tsx
  app/search/page.tsx
  components/search-button.tsx
Due: eslint --fix, prettier --write

feat(navigation-header): implement location permissions on the nav header
  .playwright-mcp/search-button-test.png
  components/__tests__/navigation-header.test.tsx
  components/navigation-header.tsx
  components/search-button.tsx
  hooks/use-search-navigation.ts
Due: eslint --fix, prettier --write

chore(use-search-navigation): write unit tests
  hooks/__tests__/use-search-navigation.test.tsx
Due: eslint --fix, prettier --write

feat(geocode): implement reverse geocoding API and associated tests
  app/api/geocode/__tests__/route.test.ts
  app/api/geocode/route.ts
  hooks/__tests__/use-search-navigation.test.tsx
  hooks/use-search-navigation.ts
Due: eslint --fix, prettier --write

fix(use-search-navigation): handle localStorage errors gracefully when saving user country preference
  hooks/use-search-navigation.ts
Due: eslint --fix, prettier --write

fix: tests
  hooks/__tests__/use-search-navigation.test.tsx
Due: eslint --fix, prettier --write

chore(search-button): tweak text alignment
  components/search-button.tsx
Due: eslint --fix, prettier --write

fix(blog-titles): shorten blog titles that are too long
  app/blog/[slug]/page.tsx
Due: eslint --fix, prettier --write

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

refactor(docs): update CLAUDE.md
  CLAUDE.md
Due: prettier --write

refactor(ahrefs): address the main ahrefs issues for now
  app/__tests__/landing-page.test.tsx
  app/about/page.tsx
  app/layout.tsx
  app/page.tsx
  docs/seo/2026-06/watchnexttonight.com-organic-keywords-history_2026-06-11_11-13-16.csv
  docs/seo/2026-06/watchnexttonight_07-jun-2026_meta-description_2026-06-11_11-16-51.csv
  docs/seo/2026-06/watchnexttonight_07-jun-2026_title-too-long_2026-06-11_11-17-12.csv
Due: eslint --fix, prettier --write

chore: clean up
  .playwright-mcp/console-2026-06-11T14-28-47-442Z.log
  .playwright-mcp/homepage-after.png
  .playwright-mcp/homepage-before.png
  .playwright-mcp/homepage-hover.png
  .playwright-mcp/page-2025-10-01T20-39-57-314Z.png
  .playwright-mcp/page-2025-10-01T20-47-44-221Z.png
  .playwright-mcp/page-2025-10-01T20-48-35-868Z.png
  .playwright-mcp/page-2025-10-01T20-50-02-434Z.png
  .playwright-mcp/page-2025-10-01T20-50-37-140Z.png
  .playwright-mcp/page-2026-06-11T14-28-49-651Z.yml
  .playwright-mcp/page-2026-06-11T14-29-07-417Z.yml
  .playwright-mcp/page-2026-06-11T14-29-08-705Z.yml
  .playwright-mcp/page-2026-06-11T14-29-16-427Z.yml
  .playwright-mcp/page-2026-06-11T14-29-31-539Z.yml
  .playwright-mcp/search-button-test.png
Due: none

chore: add .playwright-mcp/ to gitignore
  .gitignore
Due: none

feat: reskin using an After Hours style
  __tests__/mdx-components.test.tsx
  app/__tests__/landing-page.test.tsx
  app/about/page.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/contact/page.tsx
  app/faq/page.tsx
  app/globals.css
  app/layout.tsx
  app/not-found.tsx
  app/page.tsx
  app/privacy/page.tsx
  app/terms/page.tsx
  app/trending/page.tsx
  components/__tests__/breadcrumb.test.tsx
  components/__tests__/contact-form.test.tsx
  components/__tests__/content-display-with-query.test.tsx
  components/__tests__/recency-step.test.tsx
  components/__tests__/theme-toggle.test.tsx
  components/breadcrumb.tsx
  components/contact-form.tsx
  components/content-card.tsx
  components/content-display-with-query.tsx
  components/error-boundary.tsx
  components/genre-step.tsx
  components/header.tsx
  components/loading-screen.tsx
  components/location-step.tsx
  components/navigation-header.tsx
  components/recency-step.tsx
  components/ricardo.tsx
  components/scroll-to-top.tsx
  components/search-button.tsx
  components/theme-toggle.tsx
  components/trailer-modal.tsx
  components/watch-providers.tsx
  mdx-components.tsx
  tailwind.config.ts
  tests/setup.ts
Due: eslint --fix, prettier --write

refactor: update preview images and icons to use new colors
  app/apple-icon.tsx
  app/icon-192.tsx
  app/icon-512.tsx
  app/icon.tsx
  app/icon1.tsx
  app/icon2.tsx
  app/layout.tsx
  app/opengraph-image.tsx
  app/search/opengraph-image.tsx
  app/trending/opengraph-image.tsx
  app/twitter-image.tsx
  components/__tests__/header.test.tsx
  components/genre-step.tsx
  components/header.tsx
  public/manifest.json
Due: eslint --fix, prettier --write

refactor: dont use checkmarks in genre chips to avoid strange resizing
  components/genre-step.tsx
Due: eslint --fix, prettier --write

refactor: address pr review comment
  app/globals.css
Due: prettier --write
