Repository rgdSolutions/watch-next-tonight: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add vercel analytics
  app/layout.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: add vercel speed insights
  app/layout.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: create docs folder
  .gitignore
  docs/chooseAPIs.md
  docs/chooseDomain.md
  docs/infrastructure.md
  docs/initialCodeGenPrompt.md
Due: prettier --write

Update docs/initialCodeGenPrompt.md
  docs/initialCodeGenPrompt.md
Due: prettier --write

Update docs/chooseDomain.md
  docs/chooseDomain.md
Due: prettier --write

feat: create README
  README.md
Due: prettier --write

fix: update github username
  README.md
Due: prettier --write

feat: improve mobile styles
  app/layout.tsx
  app/page.tsx
  components/genre-step.tsx
  components/recency-step.tsx
  components/theme-provider.tsx
  components/theme-toggle.tsx
  components/ui/card.tsx
  hooks/use-is-mobile-screen-width.ts
  package.json
  providers/query-provider.tsx
Due: eslint --fix, prettier --write

fix: test with hardcoded dates
  components/__tests__/content-display-with-query.test.tsx
Due: eslint --fix, prettier --write

chore: add tests
  components/__tests__/theme-provider.test.tsx
  components/__tests__/theme-toggle.test.tsx
  components/recency-step.tsx
  components/theme-toggle.tsx
  hooks/__tests__/use-is-mobile-screen-width.test.ts
  hooks/use-is-mobile-screen-width.ts
  providers/__tests__/query-provider.test.tsx
Due: eslint --fix, prettier --write

feat: improve trending UI
  components/content-display-with-query.tsx
Due: eslint --fix, prettier --write

chore: add tests
  components/__tests__/content-display-with-query.test.tsx
  components/content-display-with-query.tsx
Due: eslint --fix, prettier --write

chore: add tests
  components/__tests__/content-display-surprise-me-toggle.test.tsx
Due: eslint --fix, prettier --write

chore: clean up imports
  components/content-display-with-query.tsx
Due: eslint --fix, prettier --write

feat: add landing page, /search, and /trending
  app/page.tsx
  app/search/page.tsx
  app/trending/page.tsx
  components/__tests__/recency-step.test.tsx
  components/content-display-with-query.tsx
  components/header.tsx
  components/recency-step.tsx
Due: eslint --fix, prettier --write

feat: add landing page, /search, and /trending
  __tests__/integration/tmdb-flow-simple.test.tsx
  app/__tests__/page.test.tsx
Due: eslint --fix, prettier --write

chore: clean up tests
  app/__tests__/landing-page.test.tsx
  app/page.tsx
  app/search/__tests__/page.test.tsx
  app/trending/__tests__/page.test.tsx
  components/__tests__/header.test.tsx
Due: eslint --fix, prettier --write

chore: clean up change pref button
  components/content-display-with-query.tsx
Due: eslint --fix, prettier --write

chore: clean up trending conditionals
  components/content-display-with-query.tsx
Due: eslint --fix, prettier --write

chore: adjust mobile styles
  components/genre-step.tsx
Due: eslint --fix, prettier --write

feat: improve SEO performance
  app/icon-192.tsx
  app/icon-512.tsx
  app/layout.tsx
  app/opengraph-image.tsx
  app/robots.ts
  app/search/layout.tsx
  app/search/metadata.ts
  app/sitemap.ts
  app/trending/layout.tsx
  app/trending/metadata.ts
  app/twitter-image.tsx
  components/__tests__/content-card.test.tsx
  components/content-card.tsx
  docs/seo-implementation.md
  next.config.js
  public/manifest.json
Due: eslint --fix, prettier --write

chore: fix broken tests
  components/__tests__/content-display-surprise-me-toggle.test.tsx
Due: eslint --fix, prettier --write

chore: clean up
  next.config.js
  package.json
Due: eslint --fix, prettier --write

chore: clean up checks
  components/__tests__/content-card.test.tsx
  components/__tests__/content-display-surprise-me-toggle.test.tsx
  components/__tests__/trailer-modal-runtime.test.tsx
  components/__tests__/watch-providers.test.tsx
  components/trailer-modal.tsx
  components/watch-providers.tsx
Due: eslint --fix, prettier --write

chore: clean up
  app/search/metadata.ts
  app/trending/metadata.ts
  components/content-card.tsx
Due: eslint --fix, prettier --write

feat: improve landing page for mobile
  app/page.tsx
Due: eslint --fix, prettier --write

chore: implement aiter seo optimizations
  app/layout.tsx
  app/page.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: remove pnpm
  pnpm-lock.yaml
Due: none

feat: add google adsense script tag
  app/layout.tsx
Due: eslint --fix, prettier --write

chore: use env variables for google ids
  .env.example
  app/layout.tsx
Due: eslint --fix, prettier --write

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Update .github/workflows/claude.yml
  .github/workflows/claude.yml
Due: none

Update .github/workflows/claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: none

feat: add google adsense meta tag
  app/layout.tsx
Due: eslint --fix, prettier --write

feat: add google adsense ads.txt
  public/ads.txt
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
